$text-black: #0b1f33;
$text-red: #FF314F;
$black-hover: #14385c;
$black-active: #020508;
$text-gray: #66727f;
$blue: #1f50e8;
$blue-hover: #4F76ED;
$blue-active: #143EC2;
$blue-light: #4B70E1;
$green: #62d28f;
$green-hover: #88DDAA;
$green-active: #39C672;
$gray: #F0F1FB;
$gray-hover: #F0F1FB;
$gray-active: #C7CAF0;
$line-gray: #e1e1e1;
$background-light-blue: #fafcff;
$background-blue: #EBF3FF;
$background-gray: #eff5f9;
$white: #fff;
$blue-gradient: linear-gradient(180deg, #1f50e8 0%, #4f75ec 100%);
$blue-velevet-gradient: linear-gradient(180deg, #2b88e0 0%, #4c78dc 20%, #5f67d9 40%, #6d54d5 60%, #773dd1 80%, #7f1ccd 100%);
$lato-family: "Lato", sans-serif;
$inter-family: "Inter", sans-serif;
$montserrat-family: "Montserrat", sans-serif;