@import "tailwindcss";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url(/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url(/Lato-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url(/Lato-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url(/Lato-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

:root {
  --text-black: #0b1f33;
  --text-red: #FF314F;
  --black-hover: #14385c;
  --black-active: #020508;
  --text-gray: #66727f;
  --blue: #1f50e8;
  --blue-hover: #4F76ED;
  --blue-active: #143EC2;
  --blue-light: #4B70E1;
  --green: #62d28f;
  --green-hover: #88DDAA;
  --green-active: #39C672;
  --gray: #F0F1FB;
  --gray-hover: #F0F1FB;
  --gray-active: #C7CAF0;
  --line-gray: #e1e1e1;
  --background-light-blue: #fafcff;
  --background-blue: #EBF3FF;
  --background-gray: #eff5f9;
  --white: #fff;
  --blue-gradient: linear-gradient(180deg, #1f50e8 0%, #4f75ec 100%);
  --blue-velevet-gradient: linear-gradient(180deg, #2b88e0 0%, #4c78dc 20%, #5f67d9 40%, #6d54d5 60%, #773dd1 80%, #7f1ccd 100%);
  --lato-family: "Lato", sans-serif;
  --inter-family: "Inter", sans-serif;
  --montserrat-family: "Montserrat", sans-serif
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  font-family: Lato;
  font-weight: 400;
  font-size: 1rem;
}

button,
input,
textarea {
  font-family: var(--lato-family);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

button,
option,
select {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:active,
:focus {
  outline: 0
}

[class*=-container] {
  max-width: 78.5rem;
  margin: 0 auto;
  padding: 0 1.25rem
}

[class*=icon_]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.button {
  font-weight: 500;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 14px 20px;
  border-radius: .625rem;
  background-color: var(--text-black);
  transition: background-color .3s ease-in-out;
  gap: .625rem;
  border: 1px solid transparent;
  flex-direction: row-reverse
}

.button:active {
  background-color: var(--black-active)
}

.button_green {
  background-color: var(--green)
}

.button_green:active {
  background-color: var(--green-active)
}

.button_link {
  color: var(--blue)
}

.button_link:active {
  color: var(--blue-active)
}

.button_outline {
  background-color: transparent;
  border-color: var(--green);
  color: var(--green)
}

.button_outline:active {
  color: var(--green-hovere);
  background-color: transparent;
  border-color: var(--green-active)
}

.button_gray {
  background-color: var(--gray)
}

.button_gray:active {
  background-color: var(--gray-active)
}

.button_inactive {
  background-color: var(--line-gray);
  pointer-events: none;
  border-color: var(--line-gray)
}

.button--fw {
  width: 100%
}

.link-action {
  color: var(--blue);
  transition: color .3s ease-in-out
}

.link-action:active {
  color: var(--blue-active)
}

.link-action:hover {
  color: var(--blue-hover)
}

.title {
  line-height: 1.1;
  font-weight: 700;
}

.title_h2 {
  line-height: 1.2;
}

.title_h5 {
  font-size: 1rem;
}

.text_descr {
  font-weight: 700;
}

.text {
  line-height: 1.2;
}

@media (any-hover:hover) {
  .button:hover {
    background-color: var(--black-hover)
  }

  .button_green:hover {
    background-color: var(--green-hover)
  }

  .button_link:hover {
    color: var(--blue-hover)
  }

  .button_outline:hover {
    color: var(--green-hover);
    background-color: transparent;
    border-color: var(--green-hover)
  }

  .button_gray:hover {
    background-color: var(--gray-hover)
  }

  .menu__link:hover {
    color: var(--blue-hover)
  }

  .link-action:hover {
    color: var(--blue-hover)
  }

  .search-btn:hover {
    color: var(--blue-hover)
  }
}

@media (max-width:29.99875em) {
  .text_descr {
    font-weight: 500
  }
}

@media (max-width:20em) {
  .title_h1 {
    font-size: 2.375rem
  }

  .title_h2 {
    font-size: 1.625rem
  }

  .title_h3 {
    font-size: 1.1875rem
  }

  .title_h4 {
    font-size: 1.125rem
  }

  .text_descr {
    font-size: 1.0625rem
  }
}

@media (min-width:20em) and (max-width:78.5em) {
  @supports (font-size:clamp(2.375rem, 2.1185897436rem + 1.2820512821vw, 3.125rem)) {
    .title_h1 {
      font-size: clamp(2.375rem, 2.1185897436rem + 1.2820512821vw, 3.125rem)
    }
  }

  @supports not (font-size:clamp(2.375rem, 2.1185897436rem + 1.2820512821vw, 3.125rem)) {
    .title_h1 {
      font-size: calc(2.375rem + .75 * (100vw - 20rem)/ 58.5)
    }
  }

  @supports (font-size:clamp(1.625rem, 1.4967948718rem + 0.641025641vw, 2rem)) {
    .title_h2 {
      font-size: clamp(1.625rem, 1.4967948718rem + .641025641vw, 2rem)
    }
  }

  @supports not (font-size:clamp(1.625rem, 1.4967948718rem + 0.641025641vw, 2rem)) {
    .title_h2 {
      font-size: calc(1.625rem + .375 * (100vw - 20rem)/ 58.5)
    }
  }

  @supports (font-size:clamp(1.1875rem, 1.0806623932rem + 0.5341880342vw, 1.5rem)) {
    .title_h3 {
      font-size: clamp(1.1875rem, 1.0806623932rem + .5341880342vw, 1.5rem)
    }
  }

  @supports not (font-size:clamp(1.1875rem, 1.0806623932rem + 0.5341880342vw, 1.5rem)) {
    .title_h3 {
      font-size: calc(1.1875rem + .3125 * (100vw - 20rem)/ 58.5)
    }
  }

  @supports (font-size:clamp(1.125rem, 1.0822649573rem + 0.2136752137vw, 1.25rem)) {
    .title_h4 {
      font-size: clamp(1.125rem, 1.0822649573rem + .2136752137vw, 1.25rem)
    }
  }

  @supports not (font-size:clamp(1.125rem, 1.0822649573rem + 0.2136752137vw, 1.25rem)) {
    .title_h4 {
      font-size: calc(1.125rem + .125 * (100vw - 20rem)/ 58.5)
    }
  }

  @supports (font-size:clamp(1.0625rem, 1.0197649573rem + 0.2136752137vw, 1.1875rem)) {
    .text_descr {
      font-size: clamp(1.0625rem, 1.0197649573rem + .2136752137vw, 1.1875rem)
    }
  }

  @supports not (font-size:clamp(1.0625rem, 1.0197649573rem + 0.2136752137vw, 1.1875rem)) {
    .text_descr {
      font-size: calc(1.0625rem + .125 * (100vw - 20rem)/ 58.5)
    }
  }

  @supports (padding-top:clamp(3.75rem, 2.8952991453rem + 4.2735042735vw, 6.25rem)) {
    .section-padding {
      padding-top: clamp(3.75rem, 2.8952991453rem + 4.2735042735vw, 6.25rem)
    }
  }

  @supports not (padding-top:clamp(3.75rem, 2.8952991453rem + 4.2735042735vw, 6.25rem)) {
    .section-padding {
      padding-top: calc(3.75rem + 2.5 * (100vw - 20rem)/ 58.5)
    }
  }

  @supports (padding-bottom:clamp(3.75rem, 2.8952991453rem + 4.2735042735vw, 6.25rem)) {
    .section-padding {
      padding-bottom: clamp(3.75rem, 2.8952991453rem + 4.2735042735vw, 6.25rem)
    }
  }

  @supports not (padding-bottom:clamp(3.75rem, 2.8952991453rem + 4.2735042735vw, 6.25rem)) {
    .section-padding {
      padding-bottom: calc(3.75rem + 2.5 * (100vw - 20rem)/ 58.5)
    }
  }
}