.form-label {
    font-weight: 700;
    display: block;
    font-size: 1rem;
    color: var(--text-gray);
}

.input-wrapper {
    padding: .375rem;
    padding-left: 0;
    background-color: var(--white);
    border-radius: .625rem;
    border: 1px solid var(--line-gray);
    display: flex;
    align-items: center;
    gap: .625rem;
    position: relative;
}

.input {
    width: 100%;
    display: block;
    padding: 0 15px;
    caret-color: inherit;
    height: 3.0625rem;
    color: var(--text-black);
}

.input-wrapper .input {
    height: 2.1875rem;
}

.readOnly {
    background-color: var(--background-gray);
    color: var(--text-gray);
}

.form-row {}

.input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 2.5rem;
    height: 2.25rem;
}

.light-icon-button {
    color: var(--line-gray);
    font-size: 1.125rem;
}

.icon_eye:before {
    content: "\e907";
}

.icon_crossed-eye:before {
    content: "\e904";
}

@media (min-width: 78.5em) {
    .form-label {
        margin-bottom: .5rem;
    }
}

@media (min-width:47.99875em) {}

@media (min-width:20em) and (max-width:78.5em) {
    @supports (margin-bottom:clamp(0.3125rem, 0.2483974359rem + 0.3205128205vw, 0.5rem)) {
        .form-label {
            margin-bottom: clamp(.3125rem, .2483974359rem + .3205128205vw, .5rem)
        }
    }

    @supports not (margin-bottom:clamp(0.3125rem, 0.2483974359rem + 0.3205128205vw, 0.5rem)) {
        .form-label {
            margin-bottom: calc(.3125rem + .1875 * (100vw - 20rem)/ 58.5)
        }
    }
}

@media (max-width:20em) {
    .form-label {
        margin-bottom: .3125rem
    }
}